body {
	background-color: PapayaWhip;
	font-family: Sofia, Verdana, sans-serif;
	font-size: 1.1em;
}
.nav {
	border: 1em;
	border-width: 1em 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	color: green;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
}
.nav li {
	display:inline;
}
.nav a {
	display:inline-block;
	padding:1.5em;
}
p {
	padding: .5em;
}
h1 {
	color: red;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
	text-decoration: underline;
	padding: 1.1em;
}
h2, h3, h4 {
	color: brown;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.3em;
	padding: 1.1em
}
img.make-center {
	display: block;
	margin: 0px auto;
}
img.float-right {
	float: right;
}
img.float-left {
	float: left;
}
iframe.center {
	display: block;
	margin: 0px auto;
}